/* Custom Stylesheet */


/* ALL DEMO */



.m_bg #custom-nav {
  position: relative;
  width: 100%;
  left: 0;
}
.m_bg #custom-nav.fixed {
  top:0;
  width: 100%;
  margin-left: 0;
}
.m_bg #custom-nav ul {
  background:#0066C1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  text-align: center;
  
}
.m_bg #custom-nav li{
  display: inline-block;
  float: none;
}
.m_bg #custom-nav li a{
  display: inline-block;
}

.m_bg #custom-nav li a{
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  font-weight: 100;
}

.m_bg #custom-nav li .jumpto-second {
  background: #0066C1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  position: fixed;
  top: 54px;
  width: 100%;
  left: 0px;
}
.m_bg .jumpto-subnav.fixed.bottom {
  opacity: 1;
}
.m_bg .jumpto-subnav.fixed.bottom {
  opacity: 0;
}
